pgi/pgi-common/src/main/resources/wsdl/xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:import schemaLocation="xsd2.xsd" namespace="http://schemas.datacontract.org/2004/07/FileBetService"/><xs:element name="GetHealth"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="GetHealthResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="GetHealthResult" type="q1:Health" xmlns:q1="http://schemas.datacontract.org/2004/07/FileBetService"/></xs:sequence></xs:complexType></xs:element><xs:element name="GetInfo"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="GetInfoResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="GetInfoResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="GetVersion"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="GetVersionResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="GetVersionResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>